@keyframes moveImage {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }

  100% {
    transform: translate3d(-30px, -50px, 0px);
  }
}
.containerPrincipal {
  max-width: 1400px;
  margin: 0 auto;
}

/* estilização  sessão Home */
.sectionHome {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.containerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subContainerText {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.spanWave {
  margin-right: 5px;
}

.iconHandle {
  color: rgb(250, 187, 100);
}

.welcome {
  font-size: 1.8rem;
}

.name {
  font-size: 3rem;
}

.cargo {
  font-size: 2.3rem;
}

.button {
  width: 230px;
  height: 70px;
  cursor: pointer;
  background: transparent;
  color: #eee;
  border: 1px solid #666;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.iconArrowRight {
  margin-left: 0.4rem;
}

.containerImage {
  position: relative;
}

.imageUser {
  width: 35rem;
  height: 80%;
  position: relative;
  animation: moveImage 3s linear 1s infinite alternate none;
}

/* estilização  seção  apresentação */

.sectionApresentation {
  background: rgb(29, 34, 49);
  height: 25rem;
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 0.6rem;
}

.containerImageApresentation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageUserDesigner {
  width: 20rem;
  height: 15rem;
}

.containerTextApresentation {
  padding-top: 2rem;

  div {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  p {
    margin-top: 0.8rem;
  }

  a {
 
    padding: 1rem 1.8rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 1.2rem;
    background: #4a6aba;
    color: #eee;   

    &:hover {
      background: rgb(44, 5, 236);
    }
  }
}

.iconSend {
  margin-left: 0.4rem;
}

.subTitleApresentation {
  font-size: 2rem;
  margin-bottom: 0.4rem;
  color: #56cef9;
}

/* secão  habilidades */

.sectionSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  h1 {
    color: #56cef9;
    font-weight: 800;
    font-size: 3.2rem;
  }
}
