@keyframes moveImage {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }

  100% {
    transform: translate3d(-30px, -50px, 0px);
  }
}
.containerPrincipal {
  max-width: 1400px;
  margin: 0 auto;
}

.sectionHome {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.containerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subContainerText {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.spanWave {
  margin-right: 5px;
}

.iconHandle {
  color: rgb(250, 187, 100);
}

.welcome {
  font-size: 1.8rem;
}

.name {
  font-size: 3rem;
}

.cargo {
  font-size: 2.3rem;
}

.button {
  width: 230px;
  height: 70px;
  cursor: pointer;
  background: transparent;
  color: #eee;
  border: 1px solid #666;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.iconArrowRight {
  margin-left: 0.4rem;
}

.containerImage {
  position: relative;
}

.imageUser {
  width: 35rem;
  height: 80%;
  position: relative;
  animation: moveImage 3s linear 1s infinite alternate none;
}

.sectionApresentation {
  background: rgb(29, 34, 49);
  height: 30rem;
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
