.containerCardSkills {
    background: rgb(29, 34, 49);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 0.6rem;

    div {
        font-size: 1rem;
        padding-top: 0.6rem;
        font-weight: 700;
    }
}

.img{
    width: 100px;
    height: 100px;
    background: transparent;
    
}