.nameLogo {
  color: #c8c8c8;  
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;
  background-color: #131313;

  .navbar {
    display: flex;
    gap: 32px;
  }

  .containerLogo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .imgLogo {
    height: 100%;
    object-fit: cover;
  }

  .navItems {
    display: flex;
    align-items: center;
    gap: 32px;

    &.open {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #131313;
      padding: 20px;
    }
  }

  .btnDefault {
    cursor: pointer;
    padding: 12px 32px;
    border-radius: 24px;
    border: none;
    background-color: #ecb806;
    font-family: inherit;
    color: #000000;
    font-weight: 500;
    transition: all 0.3s;
    font-size: 14px;

    &:hover {
      background-color: #d4a405;
    }
  }

  .btnMobile {
    display: none;
    background: transparent;
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: #f7f5ff;
  }

  @media screen and (max-width: 768px) {
    .btnMobile {
      display: block;
    }

    .navItems {
      display: none;

      &.open {
        display: flex;
      }
    }

    .btnDefault {
      display: none;
    }
  }
}
